

.admissions
{
  direction: ltr;
  background-color: #fff;
  
}

.admissionsIntro
{
  border: 1px solid #ddecff;
}

.admissionsIntro h2
{
  font-size: 2.82222rem;
  line-height: 1.22857em;
  color: var(--main-color);
  font-family: Helvetica;
  font-weight: 600;
    
}

.admissionsIntro h4
{
  font-size: 1.82222rem;
  line-height: 1.22857em;
  font-family: Helvetica;
  font-weight: 600;
  margin: 20px;
    
}


.admissionsImg h3
{
    margin-top: 50px;
    font-size: 2.42222rem;
    line-height: 1.22857em;
    font-family: Helvetica;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .66rem;
    margin-top: 0;
}


.title
{
    background-color: #f2f2f2;
}
.title span
{
  color: var(--main-color);
    display: block;
    font-family: Helvetica;
    font-size: 1.41111rem;
    font-weight: 600;
    line-height: 1.2em;
}



.icon 
{
    transition: transform 0.3s ease;
}
  
.rotated 
{
    transform: rotate(180deg);
}


.content 
{
  background-color: rgba(195, 222, 247, .3);

  overflow: hidden;
  transition: max-height 0.95s ease, opacity 0.95s ease;
  max-height: 3000px;
  opacity: 1;
}

.hidden {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.content h4
{
    font-size: 1.425rem;
    color: var(--main-color);
    font-family: Helvetica;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .66rem;
    margin-top: 0;
}

.content ul
{
  margin-bottom: 1rem;
    margin-top: 0;
    padding-left: 2rem;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.content h5
{
    font-size: 1.425rem;
    color: var(--main-color);
    font-family: Helvetica;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .66rem;
    margin-top: 0;
}

.content p
{
    font-size: 1.225rem;
    font-family: Helvetica;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .66rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
