

.heading
{
    font-weight: bold;
    font-size: 60px;
    direction: ltr;
    margin: 50px;
}

.disc
{
    font-size: 20px;
}

@media screen and (max-width:992px) {
    .heading
{
    font-weight: bold;
    font-size: 40px;

}

}